// *{
//     border:1px solid red;
// }

//variables
$hexLightGrey:#D3D3D3;
$hexReceive:#909090;
$hexSent:#51A0D5;
$hexMod:rgb(110, 207, 162);

#MainScreen{
    min-height:100vh;
    max-width:100vw;
    padding: 20px;
    background-color:$hexLightGrey
}

.beginning {
    max-width: 90vw;
    margin: 0 auto 30px;
    padding: 35px 0;
    text-align: center;
    font-style: italic;
    background: #BBB;
    color: #333;
}

.bubble_container.sent {
    text-align: right;
}
.bubble_container.receive {
    text-align: left;
}

.bubble {
    display: inline-block;
    max-width:40vw;
    // width: 20vw;
    padding: 10px;
    // margin-bottom: 0px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #FFFFFF;
    clear: both;
}

.bubble:first-child {
    margin-top: 20px;
    background-color: rgb(110, 207, 162);
}

.bubble p {
    margin: 0;
    color: #FFFFFF;
    font-family: sans-serif;
}

.bubble.sent{
    background-color:$hexSent;
    text-align:right;
    // float:right;
}
.bubble.receive{
    background-color:$hexReceive;
    // float:left;
}


#inputText{
    width:90vw;
    padding: 10px;
    border: 1px solid #AAA;
    border-radius: 5px;
}

#inputContainer{
    padding: 5px;
    position:fixed;
    left:0;
    bottom: 0;
    border-radius: 10px;
    margin: 0 auto;
}

#inputContainer button {
    border: 1px solid #AAA;
    border-radius: 5px;
    padding: 10px 20px;
}


#sentAvatar{
    height:30px;
    border-radius: 100%;
}